.popup2__image {
  max-width: 80vw;
  max-height: 80vh;
  /* background-color: #000; */
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  top: -34px;
}

@media screen and (max-width: 540px) {
  .popup2__image {
    width: calc(100% - 60px);
  }
}
